
    * {
        margin: 0;
        padding: 0;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    .main {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }
    .mainside {
        width: 20%;
        background-color: #0664b6;
        height: 100%;
    }
    .mainsidelogo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30%;
    }
    .mainsidelogo img {
        height: 180px;
        width: 200px;
    }
    .mainsideprofile {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 40%;
    }
    .mainsideprofileimg {
        width: 120px;
        border-radius: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: indigo;
    }
    .mainsideprofileimg img {
        width: 100%;
        border-radius: 100%;
        height: 100%;
    }
    .mainsideprofile h2 {
        font-size: 24px;
        font-weight: 400;
        color: white;
    }
    .mainbar {
        width: 80%;
        height: 10%;
    }
    .videobar{
        width: 100%;
        height: 10%;
    }
    .topbar {
        width: 100%;
        height: 75px;
        /* background-color: #0664b6; */
        background-color: #004B91;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .topbar button {
        margin: 0 20px;
        width: 150px;
        height: 45px;
        font-size: 18px;
        background-color: #FFD200;
        border: 0;
        color: black;
    }
    .topbar button:hover {
        background-color: #0664b6;
        color: #FFD200;
        border: 2px solid #FFD200;
    }
    .mainbarleft {
        width: 75%;
        height: 90vh;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-image: url(../assets/images/dashboard.jpg);

        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    .mainbarleft h2 {
        padding-top: 50px;
        font-weight: 400;
        font-size: 34px;
        text-align: center;
    }
    .lectureleft{
        width: 100%;
        height: 90vh;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-image: url(../assets/images/dashboard.jpg);

        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    .lectureleft h2 {
        padding-top: 50px;
        font-weight: 400;
        font-size: 34px;
        text-align: center;
    }
    .subjectsection {
        width: 80%;
        height: 250px;
        overflow-y: scroll;
        border: 0px solid #FFD200;
        border-bottom-width: 10px;
        /* background-color: rgba(26, 45, 128, 0.737); */
        padding-top: 50px;
        background-color: #0664b6b4;
    }
    .subjectsection form {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .row {
        width: 90%;
        height: 50px;
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .column {
        width: 45%;
        height: 100%;
        display: flex;
        padding-top: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid #FFD200;

    }
    .column:hover{
        background-color: #FFD200;
        transition: linear background-color 0.5s;
    }
    .column:hover input {
        color: #0664b6;
        font-weight: 600;
        
    }
    .column input {
        width: 1px;
        min-width: fit-content;
        /* visibility: hidden; */
        font-size: 24px;
        height: 30px;
        transition: linear background-color 0.7s;
        /* background-color: transparent; */
        color: white;
        border: none;
    }
    .column >input:checked  + .column{
        background-color: #FFD200;
        transition: linear background-color 0.5s;
        /* color: balc; */
    }
    .announcmentsection {
        width: 80%;

        border: 0px solid #FFD200;
        border-bottom-width: 10px;
        height: 200px;
        background-color: #0664b6b4;
    }
    .mainbarright {
        width: 25%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #004B91; */

        background-color: #0664b6;
    }
    .bar {
        width: 100%;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .news {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
   .news h2 {
        /* color: white; */
        color: #FFD200;
        position: fixed;
        font-weight: 400;
    }
    .newsfeed {
        margin-top: auto;
        height: 90%;
        overflow-y: scroll;
        width: 100%;
    }
    .newsfeed p {
        /* color: #FFD200; */
        color: white;
        margin: 20px 0px;
    }
    .newsfeed h4 {
        text-align: center;

        color: #FFD200;
    }
    .newsfeed hr {
        width: 75%;
        margin: 10px auto;
    }
    .announcment {
        width: 90%;
        margin: 0 auto;
        height: 100%;
    }
    .announcment h2 {
        margin: 0;

        color: #FFD200;
        font-size: 24px;
    }
    .announcment p {
        color: white;
        margin-top: 20px;
        font-size: 18px;
    }
    .video{
        width: 80%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0664b6b4;
    }
    .youtube{
        width: 90%;
        height: 90%;
    }
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        margin-right: 40px;
        user-select: none;
    }
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
    
    }   
    .container:hover input~.checkmark {
        background-color: #FFD200;
    }
    .container input:checked~.checkmark {
        background-color: #FFD200;
    }
    .submit{
        margin: 0 20px;
        width: 150px;
        height: 45px;
        font-size: 18px;
        background-color: #FFD200;
        border: 0;
        color: black;
    }
    .submit:hover {
        background-color: #0664b6;
        color: #FFD200;
        border: 2px solid #FFD200;
    }
    .test{
        width: 80%;
        height: fit-content;
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #0664b6b4;
    }
    .question{
        text-align: center;
        padding-bottom: 20px;
    }
    .test form{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: fit-content;
    }
    .testrow{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 30%;
        height: 50px;
        justify-content: space-evenly;
        align-items: center;
    }
    .testcolumn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .testrow p{
        font-size: 24px !important;
        padding: 20px 5px;
        display: block;
    }
    .testrow input ::selection{
        color: seashell;
    }
    .question h3{
        color: #FFD200;
        font-weight: 400;
        font-size: 28px;
    }
    .testscreen{
        height:fit-content;
        min-height: 70vh;
    }
    .padd{
        padding: 100px;
    }
    .questioncheck{
        padding: 20px 0 ;
    }
    .testscreen button {
        margin: 20px auto;
        width: 150px;
        height: 45px;
        font-size: 18px;
        background-color: #FFD200;
        border: 0;
        color: black;
    }
    .testscreen button:hover {
        background-color: #0664b6;
        color: #FFD200;
        border: 2px solid #FFD200;
    }
    .button{
        display: flex;
        flex-direction: row;
    }
    #hide{
        display: flex;
        text-decoration: none;
    }
    #show{
        display: none;
        text-decoration: none;
    }
    @media all and (min-width: 1024px) and (max-width: 1280px) {
        .subjectsection {
            width: 90%;
            height: 200px;
        }
        .announcmentsection {
            width: 90%;
            height: 200px;
        }
        .mainsidelogo img{
            height:160px;
            width: 180px;
        }
        .mainsideprofile{
            background-color: none;
        }
        .mainsideprofile img{
            height:100px;
            width: 100px;
        }
        .mainsideprofileimg {
            width: 100px;
            height: 100px;
        }
        .mainsideprofile h2{
            font-size: 20px;
        }
        .mainbarleft{
            width: 70%;
        }
        .mainbarright{
            width: 30%;
        }
        .mainbarleft h2{
            font-size: 28px;
        }
        .container{
            font-size: 18px;
        }


    }

    @media all and (min-width: 768px) and (max-width: 1024px) {   
        .mainside {
           display: none;
        }
        .mainbar{
            width: 100%;
        }
        .main{
            height: fit-content;
        }
        .bar{
            height: fit-content;
            display: flex;
            flex-direction: column;
        }
        .mainbarleft{
            width: 100%;
            height: fit-content;
            padding: 50px 0;
        }
        .subjectsection,.announcmentsection{
            margin: 30px 0;
        }
        .mainbarright{
            width: 100%;
            height: 200px;
            
        }
        .mainbarright h2{
            position: relative;
        }
        .newsfeed{
            width: 90%;
            margin: 0 auto;
        }
        .newsfeed p{
            text-align: center;
            text-transform: capitalize;
        }


    }

    @media all and (min-width: 480px) and (max-width: 768px) {
        .mainside {
            display: none;
         }
         .topbar{
             height: fit-content;
             padding: 20px 0;
             padding-bottom: 0px;
             flex-direction: column;
         }
         .topbar a{
             margin: 0px;
         }
         .topbar marquee{
             height:30px;
             width: 90%;
             margin-bottom: 20px;
             margin: 0 auto;
             font-size: 18px;
         }
         .topbar button{
             margin: 5px;
         }
         /* .topbar button{
             width: 120px;
             height: 45px;
             font-size: 18opx;
         } */
         .topbar button,.topbar marquee{
             margin-top: 10px;
         }
         .mainbar{
             width: 100%;
         }
         .main{
             height: fit-content;
         }
         .bar{
             height: fit-content;
             display: flex;
             flex-direction: column;
         }
         .mainbarleft{
             width: 100%;
             height: fit-content;
             padding: 50px 0;
             padding-top: 0px;
         }
         .subjectsection,.announcmentsection{
             margin: 30px 0;
             display: flex;
             justify-content: center;
             align-items: center;
         }
         .subjectsection{
               padding-top: 160px;
         }
         .mainbarright{
             width: 100%;
             height: 200px;
             
         }
         .mainbarright h2{
             position: relative;
         }
         .newsfeed{
             width: 90%;
             margin: 0 auto;
         }
         .newsfeed p{
             text-align: center;
             text-transform: capitalize;
         }
         #show{
             display: flex;
         }
         #hide{
             display: none;
         }
         .row{
             position: relative;
             flex-direction:column;
             height: fit-content;
             padding-top: 0px;
         }
         .column{
             width: 80%;
             margin: 10px auto;
         }






    }
    @media all and (max-width: 480px) {

        .mainside {
            display: none;
         }
         .topbar{
             height: fit-content;
             padding: 20px 0;
             padding-bottom: 0px;
             flex-direction: column;
         }
         .topbar a{
             margin: 0px;
         }
         .topbar marquee{
             height:30px;
             width: 90%;
             margin-bottom: 20px;
             margin: 0 auto;
             font-size: 18px;
         }
         .topbar button{
             margin: 5px;
         }
       
         .topbar button,.topbar marquee{
             margin-top: 10px;
         }
         .mainbar{
             width: 100%;
         }
         .main{
             height: fit-content;
         }
         .bar{
             height: fit-content;
             display: flex;
             flex-direction: column;
         }
         .mainbarleft{
             width: 100%;
             height: fit-content;
             padding: 50px 0;
             padding-top: 0px;
         }
         .subjectsection,.announcmentsection{
             margin: 30px 0;
             display: flex;
             justify-content: center;
             align-items: center;
         }
         .subjectsection{
               padding-top: 180px;
         }
         .mainbarright{
             width: 100%;
             height: 200px;
             
         }
         .mainbarright h2{
             position: relative;
         }
         .newsfeed{
             width: 90%;
             margin: 0 auto;
         }
         .newsfeed p{
             text-align: center;
             text-transform: capitalize;
         }
         #show{
             display: flex;
         }
         #hide{
             display: none;
         }
         .row{
             position: relative;
             flex-direction:column;
             height: fit-content;
             padding-top: 0px;
         }
         .column{
             width: 80%;
             margin: 10px auto;
         }





    }